{%load static%}
<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <h1>Product</h1>
    <table>
      <thead>
        <tr>
          <th>product</th>
          <th>price</th>
          <th>stock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="{% url 'index' %}">{{ product.name }}</a></td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
